button{
    position: absolute;
    width: 150px;
    height: inherit;
    color: rgb(232, 160, 160);
    font-weight: 700;
    border-radius: 30px;
    border: 2px solid  rgb(232, 160, 160);
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px black;
}

button:nth-child(1) {

    margin-left: -200px;
    background: beige;
}
button:nth-child(2) {
    margin-right: -200px;
    background:  beige;
    
}